<div class="h-screen flex flex-col overflow-hidden">
  <!-- Slider superior — ancho completo -->
  <app-top-slider></app-top-slider>
  <p-confirmdialog [style]="{ width: '28rem' }" />
  <!-- Debajo del slider: sidebar izquierda + (header/contenido) derecha -->
  <div class="flex flex-row flex-1 overflow-hidden">
    <app-sidebar></app-sidebar>

    <div class="flex flex-col flex-1 overflow-hidden">
      <app-header (toggleSidebar)="toggleSidebar()"></app-header>

      <main class="flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
