<div class="min-h-screen flex bg-surface-0 dark:bg-surface-950">
  <!-- Left panel: shared branding -->
  <app-auth-branding />

  <!-- Right panel: form -->
  <main class="flex flex-1 items-center justify-center p-6 sm:p-12">
    <div class="w-full max-w-md flex flex-col gap-4">
      <!-- Logo -->
      <img src="assets/images/logoHS.png" alt="HS Perú" class="h-auto w-full max-w-30 self-center" />

      <!-- Header -->
      <div class="flex flex-col items-center text-center gap-1">
        <h2 class="text-surface-900 dark:text-surface-0 text-3xl font-semibold leading-tight">
          Crea tu cuenta
        </h2>
        <p class="text-surface-600 dark:text-surface-300 leading-normal">
          Completa tus datos para empezar a usar la plataforma
        </p>
      </div>

      <!-- Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
        <!-- Nombre -->
        <div class="flex flex-col gap-2 w-full">
          <label for="nombre" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
            >Nombre</label
          >
          <div class="relative">
            <i
              class="pi pi-user absolute left-3 top-1/2 -translate-y-1/2 text-surface-400 pointer-events-none"
            ></i>
            <input
              pInputText
              id="nombre"
              type="text"
              formControlName="nombre"
              placeholder="Ana"
              class="w-full pl-10! pr-3 py-2 shadow-sm rounded-lg"
            />
          </div>
          @if (form.controls.nombre.invalid && form.controls.nombre.touched) {
            <small class="text-red-500">Ingresa tu nombre.</small>
          }
        </div>

        <!-- Apellidos -->
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col gap-2">
            <label
              for="apellido_paterno"
              class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Apellido paterno</label
            >
            <div class="relative">
              <i
                class="pi pi-user absolute left-3 top-1/2 -translate-y-1/2 text-surface-400 pointer-events-none"
              ></i>
              <input
                pInputText
                id="apellido_paterno"
                type="text"
                formControlName="apellido_paterno"
                placeholder="Ruiz"
                class="w-full pl-10! pr-3 py-2 shadow-sm rounded-lg"
              />
            </div>
            @if (form.controls.apellido_paterno.invalid && form.controls.apellido_paterno.touched) {
              <small class="text-red-500">Requerido.</small>
            }
          </div>

          <div class="flex flex-col gap-2">
            <label
              for="apellido_materno"
              class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Apellido materno</label
            >
            <div class="relative">
              <i
                class="pi pi-user absolute left-3 top-1/2 -translate-y-1/2 text-surface-400 pointer-events-none"
              ></i>
              <input
                pInputText
                id="apellido_materno"
                type="text"
                formControlName="apellido_materno"
                placeholder="Soto"
                class="w-full pl-10! pr-3 py-2 shadow-sm rounded-lg"
              />
            </div>
            @if (form.controls.apellido_materno.invalid && form.controls.apellido_materno.touched) {
              <small class="text-red-500">Requerido.</small>
            }
          </div>
        </div>

        <!-- Correo y teléfono -->
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col gap-2">
            <label for="email" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Correo electrónico</label
            >
            <div class="relative">
              <i
                class="pi pi-envelope absolute left-3 top-1/2 -translate-y-1/2 text-surface-400 pointer-events-none"
              ></i>
              <input
                pInputText
                id="email"
                type="text"
                formControlName="email"
                placeholder="ana@empresa.com"
                class="w-full pl-10! pr-3 py-2 shadow-sm rounded-lg"
              />
            </div>
            @if (form.controls.email.invalid && form.controls.email.touched) {
              <small class="text-red-500">Correo no válido.</small>
            }
          </div>

          <div class="flex flex-col gap-2">
            <label for="telefono" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
              >Teléfono</label
            >
            <div class="relative">
              <i
                class="pi pi-phone absolute left-3 top-1/2 -translate-y-1/2 text-surface-400 pointer-events-none"
              ></i>
              <input
                pInputText
                id="telefono"
                type="text"
                formControlName="telefono"
                placeholder="987 654 321"
                class="w-full pl-10! pr-3 py-2 shadow-sm rounded-lg"
              />
            </div>
            @if (form.controls.telefono.invalid && form.controls.telefono.touched) {
              <small class="text-red-500">Requerido.</small>
            }
          </div>
        </div>

        <!-- Contraseña -->
        <div class="flex flex-col gap-2 w-full">
          <label for="password" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
            >Contraseña</label
          >
          <div class="relative">
            <i
              class="pi pi-lock absolute left-3 top-1/2 -translate-y-1/2 z-10 text-surface-400 pointer-events-none"
            ></i>
            <p-password
              inputId="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              [fluid]="true"
              placeholder="Mínimo 8 caracteres"
              [inputStyleClass]="'w-full pl-10! pr-10 py-2 shadow-sm rounded-lg'"
            />
          </div>
          @if (form.controls.password.invalid && form.controls.password.touched) {
            <small class="text-red-500">La contraseña debe tener al menos 8 caracteres.</small>
          }
        </div>

        <!-- Confirmar contraseña -->
        <div class="flex flex-col gap-2 w-full">
          <label
            for="confirmPassword"
            class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
            >Confirmar contraseña</label
          >
          <div class="relative">
            <i
              class="pi pi-lock absolute left-3 top-1/2 -translate-y-1/2 z-10 text-surface-400 pointer-events-none"
            ></i>
            <p-password
              inputId="confirmPassword"
              formControlName="confirmPassword"
              [toggleMask]="true"
              [feedback]="false"
              [fluid]="true"
              placeholder="Repite tu contraseña"
              [inputStyleClass]="'w-full pl-10! pr-10 py-2 shadow-sm rounded-lg'"
            />
          </div>
          @if (form.controls.confirmPassword.touched && form.hasError('passwordsMismatch')) {
            <small class="text-red-500">Las contraseñas no coinciden.</small>
          }
        </div>

        <button
          pButton
          type="submit"
          [disabled]="form.invalid || loading()"
          [loading]="loading()"
          class="w-full py-2.5 rounded-lg flex justify-center items-center gap-2"
        >
          <i pButtonIcon class="pi pi-arrow-right text-base! leading-normal!"></i>
          <span pButtonLabel>Crear cuenta</span>
        </button>

        <p class="text-surface-600 dark:text-surface-300 leading-normal text-center">
          ¿Ya tienes una cuenta?
          <a
            routerLink="/login"
            class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis"
            >Inicia sesión</a
          >
        </p>
      </form>
    </div>
  </main>
</div>
