:host { display: contents; }

.active-link {
  background-color: #c5e3f5 !important;
  color: #0862a1 !important;
}

:host-context(.dark) .active-link {
  background-color: #0862a1 !important;
  color: #ffffff !important;
}
